<!DOCTYPE html>
<html>

<head>
  <title>OTOPARK PLAKA KAYIT OTOMASYONU</title>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
</head>

<body>
  <header class="navbar fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" style="color:darkslategray" href="/">SaveALPR</a>
    </div>
    <div class="navbar-header pull-right">
      <a class="navbar-brand" style="color:rgb(60, 89, 89)" href="/gelen">Gelen Araçlar</a>
      <a class="navbar-brand" style="color:rgb(60, 89, 89)" href="/giden">Giden Araçlar</a>
      <a class="navbar-brand" style="color:rgb(60, 89, 89)" href="/analiz">Analiz</a>
    </div>
  </header>
  {{{body}}}
</body>

</html>